Backup/SheetAutomation.v11.suo
SheetAutomation.suo
SheetAutomation.v11.suo
SheetAutomation/Debug/cl.command.1.tlog
SheetAutomation/Debug/CL.read.1.tlog
SheetAutomation/Debug/CL.write.1.tlog
SheetAutomation/Debug/SheetAutomation.Build.CppClean.log
SheetAutomation/Debug/SheetAutomation.lastbuildstate
SheetAutomation/Debug/SheetAutomation.log
SheetAutomation/Debug/SheetAutomation.unsuccessfulbuild
SheetAutomation/Debug/vc110.pdb
SheetAutomation/SheetAutomation.vcproj.AMERICAS.andersma.user
UpgradeLog.htm
SheetAutomation.opensdf
SheetAutomation.ncb
SheetAutomation.sdf
SheetAutomation.sln
mssccprj.scc
SheetAutomation/english/vssver.scc
SheetAutomation/mssccprj.scc
vssver.scc
